__pycache__/*
execute_id*
checkpoint_id*
*.joblid
*.txt
*.pyc
*.log
*.csv
*.nc
pics/*
data/*
build/*
scripts/Plot_sensitivities.py
scripts/create_cache.py
scripts/plot_outcomes.py
scripts/plotter.sh
# Sphinx build
docs/_build/doctrees/*
docs/_static/*
docs/_templates/*
docs/api/*
docs/doxyoutput/*
.ipynb*
.ipynb_checkpoints/*
