__pycache__/*
docs/
execute_id*
checkpoint_id*
*.pyc
*.log
*.csv
*.nc
pics/*
data/*
build/*
cmake-build*
# Sphinx build
docs/_build/doctrees/*
docs/_static/*
docs/_templates/*
docs/api/*
docs/doxyoutput/*
.ipynb*
.ipynb_checkpoints/*
*.sh
exe_scripts/test_script.sh