__pycache__/*
execute_id*
checkpoint_id*
*.pyc
*.log
*.csv
*.nc
pics/*
data/*
build/*
# Sphinx build
docs/_build/doctrees/*
docs/_static/*
docs/_templates/*
docs/api/*
docs/doxyoutput/*
.ipynb*
.ipynb_checkpoints/*
