datashader==0.14.0
matplotlib==3.5.1
netCDF4==1.5.8
pillow==9.0.1
numpy==1.21.5
pandas==1.5.3
scipy==1.8.0
scikit_learn==1.0.2
scikit_multilearn==0.2.0
tqdm==4.64.0
joblib==1.1.0
recommonmark==0.6.0
seaborn==0.11.2
Sphinx==3.0.3
xarray==2022.3.0
python-snappy==0.5.4
holoviews==1.14.8
hvplot==0.8.2
sphinx-rtd-theme==0.4.3
breathe==4.18.1
exhale==0.2.3
black==22.6.0
pylint==2.17.3
pytest==7.3.1
cpplint==1.6.0