datashader==0.10.0
matplotlib==3.1.3
netCDF4==1.5.3
pillow==7.0.0
numpy==1.18.1
pandas==1.0.1
scipy==1.4.1
scikit_learn==0.24.1
scikit_multilearn==0.2.0
progressbar2==3.37.1
joblib==0.16.0
recommonmark==0.6.0
seaborn==0.10.0
Sphinx==3.0.3
xarray==0.15.0
python-snappy==0.5.4
holoviews==1.13.2
hvplot==0.5.2
iris==2.4.0
geoviews==1.8.1
doxygen==1.8.13